.container{
    width: 800px; 
    height:auto;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 102, 16);

}

.cell {
  
    display: inline-block;
    margin: 5px;
    text-align: center;
    max-height: 300px;
    max-width: 200px;
    cursor: pointer;
    color: transparent;
    line-height: 100px;
    /* height: auto; 
    width: auto;  */
    overflow: hidden;
    position: relative; 
  
}


.select_section{
    text-align: center;
    grid-gap: 10px;
    min-height: 330px;
    max-height: 350px;   
    position: relative; 

}

.main_section{
  background-color: rgb(161, 87, 7);
    min-height: 330px;
    max-height: 350px;  
    text-align: center;
    flex:1;
    padding-top: 40px;
    grid-gap: 10px;
    position: relative;
    border-radius: 200px;
}


.overlay {
    display: none; 
    position: fixed;
    margin-top: 15%;
    margin-left: 35%;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    background-color: #ccc; 
    box-shadow: 0px 20px 20px 40px #ccc;
    z-index: 999; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    z-index: 1000; 
    font-size: 40px;
  }

  .message{
    text-align: center;
    padding-top: 35%;
    font-size: 40px;

  }