/*@keyframes goUp {*/
/*    0% {bottom: 0px;}*/
/*    50% {bottom: 50px;}*/
/*    100% { bottom: 0px;}*/
/*}*/

/*!* Применяем анимации к изображению *!*/
/*.cheats {*/
/*    animation-name: goUp;*/
/*    animation-duration: 2s;*/
/*}*/

/*.anim_img{*/
/*    !*width: 20vw;*!*/
/*    max-width: 250px;*/
/*    padding: 10px;*/
/*}*/

/*.select_section{*/
/*    width: max-content;*/
/*    text-align: center;*/
/*    grid-gap: 10px;*/
/*    min-height: auto;*/
/*    position: relative;*/
/*}*/



