.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Для центрирования по вертикали */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 200px; /* Измените на нужную вам ширину квадратов */
    height: 200px; /* Измените на нужную вам высоту квадратов */
    background-color: coral; /* Цвет квадратов */
    margin: 10px; /* Маржины для отступов между квадратами */
}

body{
    margin: 0;
    padding: 0;
    /*background-image: url("../pictures/bgMILLblur.png");*/
    background-image: url("../pictures/bgFullHD_Gaussian_blur.png");
}