.container {
    display: grid;
    grid-template-columns: repeat(5, 30vh);
    gap: 10px;
  }
  .container_animals{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 30vh);
    gap: 10px;
  }
  
  
  .square{
      border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
  }
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  }
  
  .box.over {
    border: 3px dotted #666;
  }

  body {
    background-image: url('../background/bgFullHD.png');
    background-size: cover; /* Подстройка размера, чтобы охватить всю область */
    background-repeat: no-repeat; /* Отключение повтора изображения */
}
