.icon-bottom {
  text-align: center;
}

.icon-bottom img {
  width: 100px; /* Размеры можно настроить под ваши изображения */
  height: 100px;
  margin: 5px;
  cursor: pointer;
}
.icon-top {
  text-align: center;
  margin-top: 50px; /* Добавляем отступ сверху, чтобы изображение было ближе к верху */
}

.icon-top img {
  width: 100px; /* Размеры можно настроить под ваши изображения */
  height: 100px;
}
