.icon-bottom {
  text-align: center;
}

.icon-bottom img {
  width: auto; /* Размеры можно настроить под ваши изображения */
  height: auto;
  margin: 10%;
  cursor: pointer;
}
.icon-top {
  text-align: center;
  margin-top: 50px; /* Добавляем отступ сверху, чтобы изображение было ближе к верху */
}

.icon-top img {
  width: auto; /* Размеры можно настроить под ваши изображения */
  height: auto;
}
body {
  background-image: url('../background/bgFullHD.png');
  background-size: cover; /* Подстройка размера, чтобы охватить всю область */
  background-repeat: no-repeat; /* Отключение повтора изображения */
}